[package]
name = "unc-vm-wast"
version.workspace = true
authors = ["Wasmer Engineering Team <engineering@wasmer.io>", "Hello Inc <hello@unc.com>"]
description = "wast testing support for wasmer"
license = "GPL-2.0-or-later"
categories = ["wasm"]
keywords = ["wasm", "webassembly"]
repository.workspace = true
readme = "README.md"
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
unc-vm-test-api.workspace = true
wast.workspace = true
tempfile.workspace = true
thiserror.workspace = true

[features]
default = ["wat"]
wat = ["unc-vm-test-api/wat"]

[badges]
maintenance = { status = "actively-developed" }
