[package]
name = "cold-store-tool"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
borsh.workspace = true
clap.workspace = true
rand.workspace = true
strum.workspace = true
tracing.workspace = true

framework.workspace = true
unc-chain-configs.workspace = true
unc-epoch-manager.workspace = true
unc-primitives.workspace = true
unc-store.workspace = true
