[package]
name = "unc-fork-network"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
actix.workspace = true
anyhow.workspace = true
chrono.workspace = true
clap.workspace = true
hex.workspace = true
rayon.workspace = true
serde.workspace = true
serde_json.workspace = true
strum.workspace = true
tracing.workspace = true

unc-chain-configs.workspace = true
unc-chain.workspace = true
unc-crypto.workspace = true
unc-epoch-manager.workspace = true
unc-mirror.workspace = true
unc-o11y.workspace = true
unc-parameters.workspace = true
unc-primitives.workspace = true
unc-store.workspace = true
framework.workspace = true

[features]
nightly = [
  "nightly_protocol",
  "unc-chain-configs/nightly",
  "unc-chain/nightly",
  "unc-epoch-manager/nightly",
  "unc-mirror/nightly",
  "unc-o11y/nightly",
  "unc-parameters/nightly",
  "unc-primitives/nightly",
  "unc-store/nightly",
  "framework/nightly",
]
nightly_protocol = [
  "unc-chain-configs/nightly_protocol",
  "unc-chain/nightly_protocol",
  "unc-epoch-manager/nightly_protocol",
  "unc-mirror/nightly_protocol",
  "unc-o11y/nightly_protocol",
  "unc-parameters/nightly_protocol",
  "unc-primitives/nightly_protocol",
  "unc-store/nightly_protocol",
  "framework/nightly_protocol",
]
