[package]
name = "unc-epoch-sync-tool"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
tracing.workspace = true

framework = { workspace = true, features = ["new_epoch_sync"] }
unc-chain.workspace = true
unc-chain-configs.workspace = true
unc-epoch-manager.workspace = true
unc-primitives.workspace = true
unc-store.workspace = true
